@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-bemore), serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e0216;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #1a1a1a;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.background-layers-1 {
  min-height: 100vh;
  width: 100%;

  background: url("/images/home_bg.png") right center / contain no-repeat,
    url("/images/front_page.jpg") center / 100vw auto no-repeat;
}

.background-layers-2 {
  background-image: url("/images/theme_reveal_page.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
